<div class="post">

  <div class="post-item g-flex-v">
    <div class="post-title g-flex-center">
      <span class="post-title-link">EditText 搜索优化 | 安卓 offer 收割基</span>
    </div>

    <div class="post-meta g-flex-h-center">
      <div class="post-time g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-calendar"></i>
        </span>
        <span>发表于 2019-09-06</span>
      </div>
      <div class="post-category g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-folder"></i>
        </span>
        <span>分类于</span>
        <span class="post-category-item-text">安卓 offer 收割基</span>
        <span>，</span>
        <span class="post-category-item-text">Android</span>
      </div>
      <div class="post-visitors">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-eye"></i>
        </span>
        <span>阅读次数:1380</span>
      </div>
    </div>

    <div class="post-body">
      <h2>描述</h2>
      <p>设计一个 EditText 的文本监听器，停止输入 1s 后，如果文本发生变化则触发监听器。</p>
      <p>
        例子：
        <br>
        文本内容是 111，111 -> 1111 -> 11111，连续输入都小于 1s，在输完后的 1s 触发监听器为 11111；
        <br>
        文本内容是 111，111 -> 1111 -> 111，连续输入都小于 1s，在输完后的 1s 不触发监听器；
      </p>
      <p>
        类似微信的客户端搜索，不同的是微信在 111 -> 1111 -> 111 是会触发改变的。
      </p>
    </div>

    <div class="post-button g-flex-center">
      <span class="g-flex-center">阅读全文 »</span>
    </div>
  </div>

  <div class="post-item g-flex-v">
    <div class="post-title g-flex-center">
      <span class="post-title-link">EditText 搜索优化 | 安卓 offer 收割基</span>
    </div>

    <div class="post-meta g-flex-h-center">
      <div class="post-time g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-calendar"></i>
        </span>
        <span>发表于 2019-09-06</span>
      </div>
      <div class="post-category g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-folder"></i>
        </span>
        <span>分类于</span>
        <span class="post-category-item-text">安卓 offer 收割基</span>
        <span>，</span>
        <span class="post-category-item-text">Android</span>
      </div>
      <div class="post-visitors">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-eye"></i>
        </span>
        <span>阅读次数:1380</span>
      </div>
    </div>

    <div class="post-body">
      <h2>描述</h2>
      <p>设计一个 EditText 的文本监听器，停止输入 1s 后，如果文本发生变化则触发监听器。</p>
      <p>
        例子：
        <br>
        文本内容是 111，111 -> 1111 -> 11111，连续输入都小于 1s，在输完后的 1s 触发监听器为 11111；
        <br>
        文本内容是 111，111 -> 1111 -> 111，连续输入都小于 1s，在输完后的 1s 不触发监听器；
      </p>
      <p>
        类似微信的客户端搜索，不同的是微信在 111 -> 1111 -> 111 是会触发改变的。
      </p>
    </div>

    <div class="post-button g-flex-center">
      <span class="g-flex-center">阅读全文 »</span>
    </div>
  </div>

  <div class="post-item g-flex-v">
    <div class="post-title g-flex-center">
      <span class="post-title-link">EditText 搜索优化 | 安卓 offer 收割基</span>
    </div>

    <div class="post-meta g-flex-h-center">
      <div class="post-time g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-calendar"></i>
        </span>
        <span>发表于 2019-09-06</span>
      </div>
      <div class="post-category g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-folder"></i>
        </span>
        <span>分类于</span>
        <span class="post-category-item-text">安卓 offer 收割基</span>
        <span>，</span>
        <span class="post-category-item-text">Android</span>
      </div>
      <div class="post-visitors">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-eye"></i>
        </span>
        <span>阅读次数:1380</span>
      </div>
    </div>

    <div class="post-body">
      <h2>描述</h2>
      <p>设计一个 EditText 的文本监听器，停止输入 1s 后，如果文本发生变化则触发监听器。</p>
      <p>
        例子：
        <br>
        文本内容是 111，111 -> 1111 -> 11111，连续输入都小于 1s，在输完后的 1s 触发监听器为 11111；
        <br>
        文本内容是 111，111 -> 1111 -> 111，连续输入都小于 1s，在输完后的 1s 不触发监听器；
      </p>
      <p>
        类似微信的客户端搜索，不同的是微信在 111 -> 1111 -> 111 是会触发改变的。
      </p>
    </div>

    <div class="post-button g-flex-center">
      <span class="g-flex-center">阅读全文 »</span>
    </div>
  </div>

  <div class="post-item g-flex-v">
    <div class="post-title g-flex-center">
      <span class="post-title-link">EditText 搜索优化 | 安卓 offer 收割基</span>
    </div>

    <div class="post-meta g-flex-h-center">
      <div class="post-time g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-calendar"></i>
        </span>
        <span>发表于 2019-09-06</span>
      </div>
      <div class="post-category g-flex-h-center">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-folder"></i>
        </span>
        <span>分类于</span>
        <span class="post-category-item-text">安卓 offer 收割基</span>
        <span>，</span>
        <span class="post-category-item-text">Android</span>
      </div>
      <div class="post-visitors">
        <span class="post-meta-item-icon">
          <i class="iconfont icon-eye"></i>
        </span>
        <span>阅读次数:1380</span>
      </div>
    </div>

    <div class="post-body">
      <h2>描述</h2>
      <p>设计一个 EditText 的文本监听器，停止输入 1s 后，如果文本发生变化则触发监听器。</p>
      <p>
        例子：
        <br>
        文本内容是 111，111 -> 1111 -> 11111，连续输入都小于 1s，在输完后的 1s 触发监听器为 11111；
        <br>
        文本内容是 111，111 -> 1111 -> 111，连续输入都小于 1s，在输完后的 1s 不触发监听器；
      </p>
      <p>
        类似微信的客户端搜索，不同的是微信在 111 -> 1111 -> 111 是会触发改变的。
      </p>
    </div>

    <div class="post-button g-flex-center">
      <span class="g-flex-center">阅读全文 »</span>
    </div>
  </div>

</div>