.g-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-flex-h {
  display: flex;
  flex-direction: row;
}

.g-flex-h-b{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.g-flex-h-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.g-flex-h-center-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.g-flex-v {
  display: flex;
  flex-direction: column;
}

.g-flex-v-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.g-flex-v-center-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.affix {
  position: fixed;
}

