@font-face {
  font-family: 'iconfont';
  /* project id 1445473 */
  src: url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.eot');
  src: url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1445473_d66mdt0pbcp.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
}

.icon-home::before {
  content: "\e690";
}

.icon-about::before {
  content: "\e604";
}

.icon-category::before {
  content: "\e7f8";
}

.icon-file::before {
  content: "\e6ef";
}

.icon-tools::before {
  content: "\e606";
}

.icon-reward::before {
  content: "\e647";
}

.icon-upArrow::before {
  content: "\e79d";
}

.icon-calendar::before {
  content: "\e60e";
}

.icon-folder::before {
  content: "\e62c";
}

.icon-eye::before {
  content: "\e63a";
}

.icon-label::before {
  content: "\e63d"
}
