@font-face {
  font-family: 'iconfont';  /* project id 1445473 */
  src: url('//at.alicdn.com/t/font_1445473_xae0g1eix6.eot');
  src: url('//at.alicdn.com/t/font_1445473_xae0g1eix6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1445473_xae0g1eix6.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1445473_xae0g1eix6.woff') format('woff'),
  url('//at.alicdn.com/t/font_1445473_xae0g1eix6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1445473_xae0g1eix6.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-style: normal;
}

.icon-home::before {
  content: "\e690";
}

.icon-category::before {
  content: "\e7f8";
}

.icon-about::before {
  content: "\e604";
}

.icon-reward::before {
  content: "\e647";
}
