<div class="header">

  <div class="site-brand g-flex-center">
    <div class="custom-logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <p class="custom-title">keep learning</p>
  </div>

  <div class="site-nav">
    <ul class="menu">
      <li *ngFor="let item of icons" class="menu-item g-flex-h-center" [routerLink]="[ item.link ]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
        <i class="iconfont {{item.icon}}"></i>
        <span>{{item.text}}</span>
      </li>
    </ul>
  </div>
</div>