.header {
  width: 240px;
  background-color: rgba(255, 255, 255, 0.75);

  .site-brand {
    background-color: #f973a3;
    height: 110px;

    .custom-logo {
      color: #ffffff;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .custom-title {
      margin-top: 10px;
      color: #dddddd;
    }
  }

  .site-nav {
    padding: 20px 0;

    .menu {
      .menu-item {
        padding: 5px 20px;
        color: #555555;
        cursor: pointer;

        &:hover {
          color: #262a30;
          background-color: #ffffff;
        }

        i {
          margin-right: 5px;
        }
      }

      .active {
        background-color: #ffffff;
      }
    }
  }
}


@media(max-width:1200px) {
  .header {
    display: none;
  }
}
